<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            background: linear-gradient(to bottom, #FF69B4, #800080); /* Gradient from pink to purple */
            margin: 0;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          }

        .custom-button {
          color: white;
          background-color: #ea00ff; /* Yellowish color */
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          transition: background-color 0.3s ease-in-out;
          cursor: pointer;
        }
      
        .custom-button:hover {
          background-color: #1E90FF; /* Blackish-Blueish color on hover */
        }
      </style>
</head>
<body>
    <div class="vh-100 vw-100 d-flex align-items-center justify-content-center" style="background-size: cover; flex-direction: column;">
        <div>
            <h1>Select Your Seats</h1>
        </div>
        <div style="min-width:900px; min-height:400px;">
            <img class="" style="min-width:900px; min-height:400px; background-image: url('https://i.ibb.co/TL3B81Y/booking.png');background-size: cover; background-repeat: no-repeat;">
        </div>
        <div class="border border-round" style="padding:2px; margin-top:30px; min-width:900px; min-height:50px; background-color: #ffe4b5">
            <span class="ms-5" style="font-size: 1.5em;">You Select : </span>
            <button class="custom-button">C-19</button>
            <button class="custom-button">C-20</button>
            <button class="custom-button">C-21</button>
        </div>
        <button class="custom-button m-5 px-5">Pay Now 0.2ETH</button>

    </div>
    
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
</html>
