<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SparkBank</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body style="background-color: black; color: white;">
    <marquee behavior="" direction=""></marquee>
    <div class="d-flex align-item-center justify-content-center">
    <div class="border border-primary" style="max-width: 70%;">
      <nav class="border border-primary rounded-pill navbar navbar-expand-lg my-5 py-3 rounded-pill"
        style="background: linear-gradient(to right, #FF69B4, #FFA500); color: #fff;">
        <div class="container-fluid ms-5">
          <div class="d-flex justify-content-end collapse navbar-collapse" id="navbarSupportedContent">
            <div class="me-5">
              <ul class="navbar-nav me-5 mb-2 mb-lg-0">
                <li class="nav-item me-3">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item me-3">
                  <a class="nav-link" href="/">About</a>
                </li>
                <li class="nav-item me-3">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item me-3">
                    <a href="/signup"  class="btn btn-light">SignUp</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <div class="d-flex align-item-center justify-content-center">
        <h1>Ticket System Web</h1>
      </div>
      
      <div class="d-flex justify-content-center">
      <div style="height: 400px; width:1000px; background: linear-gradient(to right, hsl(330, 100%, 71%), #FFA500); color: #fff; display: flex; align-items: center; justify-content: space-between;">
        <div style="height: 350px; width:350px; background-image: url(https://eu-central.storage.cloudconvert.com/tasks/c12b34e5-db7b-4637-9fa2-67fd44fe83c3/yyy.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=cloudconvert-production%2F20231104%2Ffra%2Fs3%2Faws4_request&X-Amz-Date=20231104T002144Z&X-Amz-Expires=86400&X-Amz-Signature=ad72cb121bc1e085b06e2f54c811766dbe28fb7b2ab738773cdc4ab4a6f5cb26&X-Amz-SignedHeaders=host&response-content-disposition=inline%3B%20filename%3D%22yyy.jpg%22&response-content-type=image%2Fjpeg&x-id=GetObject); background-size: cover;"><img src="yyy.jpg" alt=""></div>
        <div style="flex: 1; padding: 20px;">
          <h3>Welcome Ticketing system Web</h3>
          <p> Automate. Customize. Prioritize. Our ticketing software helps you accomplish everything you need to do to resolve the day-to-day IT tickets faster than ever.</p>
        </div>

      </div>
    </div>
      <h2 class="my-5 ms-5">Here you can book tickets...</h2>

      <div style="display: flex; align-items: center;" class="justify-content-evenly mb-5">
        <div class="" >
            <div class=""  style="width: 18rem; " style="display: flex; align-items: center; min-width:350px; min-height:250px;">
              <img class="" style="min-width:350px; min-height:240px;background-size: cover; background-image: url(https://cdn5.vectorstock.com/i/1000x1000/35/34/platform-ticket-office-composition-vector-31823534.jpg);">
            
              <a href="/booking" style="min-width:350px;" class="btn btn-primary">Book Train Ticket.</a>
            </div>
          </div>
        <div class="" >
            <div class=""  style="width: 18rem; " style="display: flex; align-items: center; min-width:350px; min-height:250px;">
              <img class="" style="min-width:350px; min-height:240px;background-size: cover; background-image: url(https://cdn5.vectorstock.com/i/1000x1000/83/89/queue-people-buy-cinema-tickets-vector-29928389.jpg);">
            
              <a href="booking" style="min-width:350px;" class="btn btn-primary">Book Movie Show.</a>
            </div>
          </div>
        
      </div>
      <div style="display: flex; align-items: center ;" class="justify-content-evenly mb-5">
        <div class="" >
            <div class=""  style="width: 18rem; " style="display: flex; align-items: center; min-width:350px; min-height:250px;">
              <img class="" style="min-width:350px; min-height:240px;background-size: cover; background-image: url(https://cdn4.vectorstock.com/i/1000x1000/69/03/people-buying-cinema-tickets-at-self-service-vector-41176903.jpg);">
            
              <a href="booking" style="min-width:350px;" class="btn btn-primary">Book Museum Ticket</a>
            </div>
          </div>
        <div class="" >
          <div class=""  style="width: 18rem; " style="display: flex; align-items: center; min-width:350px; min-height:250px;">
            <img class="" style="min-width:350px; min-height:240px;background-size: cover; background-image: url(https://media.istockphoto.com/id/1248939395/vector/people-buy-ticket-flat-color-vector-faceless-characters.jpg?s=2048x2048&w=is&k=20&c=wua6CqB9gesurSda1S0QE-2mhHLFxwpA8YeHZCg9Y_o=);">
          
            <a href="booking" style="min-width:350px;" class="btn btn-primary">Book Stand-up Ticket</a>
          </div>
        </div>
      </div>
      <div class="my-5 mx-5">
        <h3>About Us</h3>
        <div class="" style="background: linear-gradient(to right, hsl(330, 100%, 71%), #FFA500);">
          <p style="font-size: 1.2rem;">Welcome to SparkBank Ticket System Web! We are dedicated to providing a seamless ticketing experience for various events. Whether it's booking train tickets for your journey, securing seats for a movie show, exploring museums, or enjoying a stand-up comedy night, SparkBank Ticket System Web has you covered. Our automated and customizable ticketing software prioritizes efficiency, ensuring a swift resolution of your day-to-day ticketing needs. Feel free to explore our platform and book your tickets with ease.</p>
          <p style="font-size: 1.2rem;">SparkBank Ticket System Web is presented by SPHINX, bringing you a convenient and enjoyable way to book tickets for your favorite events. Thank you for choosing SparkBank for all your ticketing needs!</p>
        </div>
      </div>
      
    </div>
    
    </div>

    <footer class="bg-dark text-white text-center">
      <h4>web3heck</h4>
      <h4>Presented By:SPHINX</h4>

    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>
